%h2.page-title
  Dashboard

.alert.alert-info
  %p.text-center
    For more control please login to 
    = link_to "Shopify Admin", "https://#{current_shop.shopify_domain}/admin/auth/login?redirect=/admin/apps/#{ENV['SHOPIFY_APP_NAME']}/shopify&login=#{current_user.email}"



.row.mt-4
  .col-md-6
    .card.card-cascade.narrower
      .view.view-cascade.gradient-card-header.brown.lighten-2
        .card-header-title
          Total Sales
      .card-body.card-body-cascade.text-center
        .strong.h1
          = "#{@sales_total} USD"

  .col-md-6
    .card.card-cascade.narrower
      .view.view-cascade.gradient-card-header.brown.lighten-2
        .card-header-title
          Commission Total
      .card-body.card-body-cascade.text-center
        .strong.h1
          = "#{@commission_total} USD"

.row.mt-4
  .col-md-4
    .card.card-cascade.narrower
      .view.view-cascade.gradient-card-header.brown.lighten-2
        .card-header-title
          Unpaid Vendor Payouts
      .card-body.card-body-cascade.text-center
        .strong.h1
          = "#{@payouts_unpaid} USD"

  .col-md-4
    .card.card-cascade.narrower
      .view.view-cascade.gradient-card-header.brown.lighten-2
        .card-header-title
          Completed Payouts
      .card-body.card-body-cascade.text-center
        .strong.h1
          = "#{@payouts_paid} USD"
      
  .col-md-4
    .card.card-cascade.narrower
      .view.view-cascade.gradient-card-header.brown.lighten-2
        .card-header-title
          Total Vendor Payouts
      .card-body.card-body-cascade.text-center
        .strong.h1
          = "#{@payouts_total} USD"


.row.mt-4
  .col-md-12
    .card.card-cascade.narrower
      .view.view-cascade.gradient-card-header.brown.lighten-2
        .card-header-title
          Product Sales
      .card-body.card-body-cascade.text-center
        %canvas{'id' => 'product-sales-chart-canvas', 'width' => '100%'}


.row.mt-4
  .col-md-12
    .card.card-cascade.narrower
      .view.view-cascade.gradient-card-header.brown.lighten-2
        .card-header-title
          Product Commissions Earned
      .card-body.card-body-cascade.text-center
        %canvas{'id' => 'product-commissions-earned-chart-canvas', 'width' => '100%'}

- content_for(:extra_javascript) do
  :javascript
    (function(global) {
      'use strict';

      var ctx = document.getElementById("product-sales-chart-canvas").getContext("2d");
      var myChart = new Chart(ctx, {
          type: 'bar',
          data: {
              labels: [#{@product_sales_report_data.map { |d| "'#{j(d['product_title'])}'" }.join(', ').html_safe}],
              datasets: [{
                  label: '#{@product_sales_title}',
                  data: [#{@product_sales_report_data.map { |d| d['product_amount_sold'] }.join(', ')}],
                  backgroundColor: [
                      'rgba(255, 99, 132, 0.2)',
                      'rgba(54, 162, 235, 0.2)',
                      'rgba(255, 206, 86, 0.2)',
                      'rgba(75, 192, 192, 0.2)',
                      'rgba(153, 102, 255, 0.2)',
                      'rgba(255, 159, 64, 0.2)'
                  ],
                  borderColor: [
                      'rgba(255,99,132,1)',
                      'rgba(54, 162, 235, 1)',
                      'rgba(255, 206, 86, 1)',
                      'rgba(75, 192, 192, 1)',
                      'rgba(153, 102, 255, 1)',
                      'rgba(255, 159, 64, 1)'
                  ],
                  borderWidth: 1
              }]
          },
          options: {
              scales: {
                  yAxes: [{
                      ticks: {
                          beginAtZero:true
                      }
                  }]
              }
          }
      });
    })(window);

  :javascript
    (function(global) {
      'use strict';

      var ctx = document.getElementById("product-commissions-earned-chart-canvas").getContext("2d");
      var myChart = new Chart(ctx, {
          type: 'bar',
          data: {
              labels: [#{@product_commissions_earned_report_data.map { |d| "'#{j(d['product_title'])}'" }.join(', ').html_safe}],
              datasets: [{
                  label: '#{@product_commissions_earned_title}',
                  data: [#{@product_commissions_earned_report_data.map { |d| d['product_amount_commissions_earned'] }.join(', ')}],
                  backgroundColor: [
                      'rgba(255, 99, 132, 0.2)',
                      'rgba(54, 162, 235, 0.2)',
                      'rgba(255, 206, 86, 0.2)',
                      'rgba(75, 192, 192, 0.2)',
                      'rgba(153, 102, 255, 0.2)',
                      'rgba(255, 159, 64, 0.2)'
                  ],
                  borderColor: [
                      'rgba(255,99,132,1)',
                      'rgba(54, 162, 235, 1)',
                      'rgba(255, 206, 86, 1)',
                      'rgba(75, 192, 192, 1)',
                      'rgba(153, 102, 255, 1)',
                      'rgba(255, 159, 64, 1)'
                  ],
                  borderWidth: 1
              }]
          },
          options: {
              scales: {
                  yAxes: [{
                      ticks: {
                          beginAtZero:true
                      }
                  }]
              }
          }
      });
    })(window);

